@model DomainModel.RadniNalog

@{
    ViewData["Title"] = "Create";
}

<h1>Dodavanje</h1>

<h4>Radni nalog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vrizrada" class="control-label"></label>
                <input asp-for="Vrizrada" class="form-control" />
                <span asp-validation-for="Vrizrada" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Vrpocetak" class="control-label"></label>
                <input asp-for="Vrpocetak" class="form-control" />
                <span asp-validation-for="Vrpocetak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vrzavrsetak" class="control-label"></label>
                <input asp-for="Vrzavrsetak" class="form-control" />
                <span asp-validation-for="Vrzavrsetak" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Idservis" class="control-label"></label>
                <select asp-for="Idservis" class ="form-control" asp-items="ViewBag.Idservis">
                    <option value="" selected disabled>Odaberite servis</option>
                </select>
            </div>
            @* <div class="form-group">
                <label asp-for="Idosoba" class="control-label"></label>
                <select asp-for="Idosoba" class ="form-control" asp-items="ViewBag.Idosoba">
                    <option value="" selected disabled>Odaberite korisnika</option>
                </select>
            </div> *@
            <div class="form-group">
                <label asp-for="Izradio" class="control-label"></label>
                <select asp-for="Izradio" class ="form-control" asp-items="ViewBag.Izradio">
                    <option value="" selected disabled>Odaberite radnika</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Idbicikl" class="control-label"></label>
                <select asp-for="Idbicikl" class ="form-control" asp-items="ViewBag.Idbicikl">
                    <option value="" selected disabled>Odaberite bicikl</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Idstatus" class="control-label"></label>
                <select asp-for="Idstatus" class ="form-control" asp-items="ViewBag.Idstatus">
                </select>
            </div>
            @* <div class="form-group">
                <label asp-for="Obavio" class="control-label"></label>
                <select asp-for="Obavio" class ="form-control" asp-items="ViewBag.Obavio">
                </select>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Povratak na popis</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
