@model DomainModel.RadniNalog

@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje</h1>

<h3>Jeste li sigurni da želite obrisati radni nalog?</h3>
<div>
    <h4>Radni nalog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrizrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrizrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrpocetak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrpocetak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrzavrsetak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrzavrsetak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idbicikl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazbicikl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idosoba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunoImeKorisnik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idservis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazServis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idstatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazstatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Izradio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunoImeIzradio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obavio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunoImeObavio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idradninalog" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-outline-primary" asp-action="Index">Povratak na popis</a>
    </form>
</div>
