@model DomainModel.RadniNalog

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Radni nalog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrizrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrizrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrpocetak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrpocetak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrzavrsetak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrzavrsetak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idbicikl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazbicikl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idosoba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunoImeKorisnik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idservis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazServis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idstatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazstatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Izradio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunoImeIzradio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obavio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunoImeObavio)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Idradninalog">Uredi</a>
    <a class="btn btn-outline-primary" asp-action="Index">Povratak na popis</a>
</div>

<table class="table table-hover table-striped" id="stavke">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Idstavka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Idrad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Kolicinarad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Idartiklservis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Kolicinaartikl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Idstatus)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stavke) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idstavka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazrad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicinarad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazArtikl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicinaartikl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazstatus)
            </td>
        </tr>
}
    </tbody>
</table>


@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">

}

@section Scripts {
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#stavke').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        } );
    </script>
}