@model DomainModel.RadniNalog

@{
    ViewData["Title"] = "Edit";
}

<h1>Uređivanje</h1>

<h4>Radni nalog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idradninalog" />
            <div class="form-group">
                <label asp-for="Vrizrada" class="control-label"></label>
                <input asp-for="Vrizrada" class="form-control" disabled />
                <span asp-validation-for="Vrizrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vrpocetak" class="control-label"></label>
                <input asp-for="Vrpocetak" class="form-control" />
                <span asp-validation-for="Vrpocetak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vrzavrsetak" class="control-label"></label>
                <input asp-for="Vrzavrsetak" class="form-control" />
                <span asp-validation-for="Vrzavrsetak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazServis" class="control-label"></label>
                <input asp-for="NazServis" class="form-control" disabled/>
                @* <span asp-validation-for="NazServis" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="PunoImeKorisnik" class="control-label"></label>
                <input asp-for="PunoImeKorisnik" class="form-control" disabled/>
                @* <span asp-validation-for="PunoImeKorisnik" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="PunoImeIzradio" class="control-label"></label>
                <input asp-for="PunoImeIzradio" class="form-control" disabled/>
                @* <span asp-validation-for="PunoImeIzradio" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Nazbicikl" class="control-label"></label>
                <input asp-for="Nazbicikl" class="form-control" disabled/>
                @* <span asp-validation-for="Nazbicikl" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Idstatus" class="control-label"></label>
                <select asp-for="Idstatus" class="form-control" asp-items="ViewBag.Idstatus"></select>
                <span asp-validation-for="Idstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obavio" class="control-label"></label>
                <select asp-for="Obavio" class="form-control" asp-items="ViewBag.Obavio">
                    <option value="" selected >Odaberite radnika</option>
                </select>
                <span asp-validation-for="Obavio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-between">
    <a class="btn btn-outline-primary" asp-action="Index">Povratak na popis</a>
    <a class="btn btn-primary" asp-action="Create" asp-controller="StavkaNalog"
     asp-route-IdRadniNalog="@Model.Idradninalog" asp-route-IdServis="@Model.Idservis">Dodavanje stavke</a>
</div>

<hr />

<table class="table table-hover table-striped" id="stavke">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Idstavka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Idrad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Kolicinarad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Idartiklservis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Kolicinaartikl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stavke[0].Idstatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stavke) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idstavka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazrad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicinarad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazArtikl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicinaartikl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazstatus)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-controller="StavkaNalog" asp-route-id="@item.Idstavka" asp-route-IdServis="@Model.Idservis">Uredi</a>
                <a class="btn btn-danger" asp-action="Delete" asp-controller="StavkaNalog" asp-route-id="@item.Idstavka">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#stavke').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        } );
    </script>
}
