@model IEnumerable<DomainModel.RadniNalog>

@{
    ViewData["Title"] = "Index";
}

<h1>Radni nalozi</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj</a>
</p>
<table class="table table-hover table-striped" id="nalozi">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idradninalog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrizrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrpocetak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrzavrsetak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idbicikl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idosoba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idservis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izradio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obavio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Idradninalog">
                @Html.DisplayFor(modelItem => item.Idradninalog)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrizrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrpocetak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrzavrsetak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazbicikl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunoImeKorisnik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazServis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunoImeIzradio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunoImeObavio)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Idradninalog">Uredi</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Idradninalog">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">

}

@section Scripts {
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#nalozi').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        } );
    </script>
}