@model DomainModel.StavkaNalog
@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje</h1>

<h3>Jeste li sigurni da želite obrisati stavku naloga?</h3>
<div>
    <h4>Stavka naloga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazrad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazrad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kolicinarad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolicinarad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazArtikl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazArtikl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kolicinaartikl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolicinaartikl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazstatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazstatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idrad" />
        <input type="submit" value="Obriši" class="btn btn-danger" asp-route-IdRadniNalog="@Model.Idradninalog"/>
        <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="RadniNalog" asp-route-id="@Model.Idradninalog">Povratak na nalog</a>
    </form>
</div>
