@model DomainModel.StavkaNalog

@{
    ViewData["Title"] = "Edit";
}

<h1>Uređivanje</h1>

<h4>Usluga servisa</h4>
@if (@ViewBag.ArtiklQError != "")
{
    <h5 class="text-danger">@ViewBag.ArtiklQError</h5>

}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idradninalog"/>
            <input type="hidden" asp-for="Idstavka"/>
            <div class="form-group">
                <label asp-for="Idrad" class="control-label"></label>
                <select asp-for="Idrad" class ="form-control" asp-items="ViewBag.Idrad">
                    <option value="" selected disabled>Odaberite uslugu</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Kolicinarad" class="control-label"></label>
                <input asp-for="Kolicinarad" class="form-control" min="1"/>
                <span asp-validation-for="Kolicinarad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idartiklservis" class="control-label"></label>
                <select asp-for="Idartiklservis" class ="form-control" asp-items="ViewBag.Idartiklservis">
                    <option value="" selected disabled>Odaberite artikl</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Kolicinaartikl" class="control-label"></label>
                <input asp-for="Kolicinaartikl" class="form-control" min="1"/>
                <span asp-validation-for="Kolicinaartikl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idstatus" class="control-label"></label>
                <select asp-for="Idstatus" class ="form-control" asp-items="ViewBag.Idstatus">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-primary" asp-route-IdServis="@ViewBag.Idservis" asp-route-IdRadniNalog="@Model.Idradninalog"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="RadniNalog" asp-route-id="@Model.Idradninalog">Povratak na nalog</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
