@model DomainModel.Rad
@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje</h1>

<h3>Jeste li sigurni da želite obrisati uslugu?</h3>
<div>
    <h4>Usluga servisa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazrad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazrad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idrad" />
        <input type="submit" value="Obriši" class="btn btn-danger" />
        <a class="btn btn-outline-primary" asp-action="Index">Povratak na popis</a>
    </form>
</div>
