@model DomainModel.Rad

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Usluga servisa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazrad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazrad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Idrad">Uredi</a>
    <a class="btn btn-outline-primary" asp-action="Index">Povratak na popis</a>
</div>
