@model IList<DomainModel.Rad>

@{
    ViewData["Title"] = "Index";
}

<h1>Usluge servisa</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj</a>
</p>
<table class="table table-hover table-striped" id="radovi">
    <thead>
        <tr>
            <th>
                Šifra 
            </th>
            <th>
                Naziv 
            </th>
            <th>
                Cijena / kn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Idrad">
                @Html.DisplayFor(modelItem => item.Idrad)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazrad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Idrad">Uredi</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Idrad">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">

}

@section Scripts {
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#radovi').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        } );
    </script>
}